/* line 1, app/snufkin/static/css/footer.scss */
#footer {
  background-color: #a9bbcc; }
  /* line 4, app/snufkin/static/css/footer.scss */
  #footer .quotation {
    font-family: "Indie Flower", cursive; }
  /* line 8, app/snufkin/static/css/footer.scss */
  #footer .name {
    font-family: "Indie Flower", cursive;
    font-size: 22px; }
  /* line 13, app/snufkin/static/css/footer.scss */
  #footer .book {
    font-family: "Indie Flower", cursive;
    font-size: 15px; }
  /* line 18, app/snufkin/static/css/footer.scss */
  #footer .footer-copyright {
    background-color: #3a3e71;
    color: white;
    position: relative; }
    /* line 23, app/snufkin/static/css/footer.scss */
    #footer .footer-copyright a {
      color: #a9bbcc; }
  /* line 28, app/snufkin/static/css/footer.scss */
  #footer .back-to-top {
    position: absolute;
    right: 32px; }
  /* line 33, app/snufkin/static/css/footer.scss */
  #footer .text-center.footer {
    margin-bottom: 0px; }
