/* line 1, app/snufkin/static/css/general.scss */
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff4db; }

/* line 6, app/snufkin/static/css/general.scss */
.container {
  padding: 50px; }

/* line 10, app/snufkin/static/css/general.scss */
.float-right {
  padding-right: 32px; }

/* line 14, app/snufkin/static/css/general.scss */
.thead {
  background-color: #a9bbcc; }

/* line 18, app/snufkin/static/css/general.scss */
.carousel-img {
  object-fit: cover;
  object-position: 0 65%;
  width: 100%;
  height: 500px; }

/* line 26, app/snufkin/static/css/general.scss */
.reset a {
  color: #a9bbcc; }

/* line 1, app/snufkin/static/css/header.scss */
#header {
  background-color: #3a3e71; }
  /* line 4, app/snufkin/static/css/header.scss */
  #header .nav-link {
    color: white; }
  /* line 8, app/snufkin/static/css/header.scss */
  #header a.nav-link.no-padding {
    padding: 0px; }
  /* line 12, app/snufkin/static/css/header.scss */
  #header .image-logo {
    height: 70px;
    display: block;
    margin: 0 auto;
    border-radius: 100%; }

/* line 1, app/snufkin/static/css/footer.scss */
#footer {
  background-color: #a9bbcc; }
  /* line 4, app/snufkin/static/css/footer.scss */
  #footer .quotation {
    font-family: "Indie Flower", cursive; }
  /* line 8, app/snufkin/static/css/footer.scss */
  #footer .name {
    font-family: "Indie Flower", cursive;
    font-size: 22px; }
  /* line 13, app/snufkin/static/css/footer.scss */
  #footer .book {
    font-family: "Indie Flower", cursive;
    font-size: 15px; }
  /* line 18, app/snufkin/static/css/footer.scss */
  #footer .footer-copyright {
    background-color: #3a3e71;
    color: white;
    position: relative; }
    /* line 23, app/snufkin/static/css/footer.scss */
    #footer .footer-copyright a {
      color: #a9bbcc; }
  /* line 28, app/snufkin/static/css/footer.scss */
  #footer .back-to-top {
    position: absolute;
    right: 32px; }
  /* line 33, app/snufkin/static/css/footer.scss */
  #footer .text-center.footer {
    margin-bottom: 0px; }
