body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 244, 219);
}

.container {
  padding: 50px;
}

.float-right{
  padding-right: 32px;
}

.thead{
  background-color:  rgb(169, 187, 204);
}

.carousel-img {
    object-fit: cover;
    object-position: 0 65%;
    width: 100%;
    height: 500px;
}

.text-center.reset a{
  color: rgb(169, 187, 204);
}
#header {
    background-color: rgb(58, 62, 113);
}

#header .nav-link {
    color: white
}

a.nav-link.no-padding {
    padding: 0px;
}

.image-logo {
    height: 70px;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    
}

.quotation {
    font-family: 'Indie Flower', cursive;
}
  
.name{
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
}
  
.book{
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
}

#footer {
    background-color: rgb(169, 187, 204);
} 

.footer-copyright{
    background-color: rgb(58, 62, 113);
    color: white;
    position: relative;
}

.footer-copyright a {
    color: rgb(169, 187, 204);
}
  
.back-to-top {
    position: absolute;
    right: 32px;
}

.text-center.footer {
    margin-bottom: 0px;
  }