{% extends "base.html" %}

{% block content %}
<div class="card w-75">
    <div class="card-body">
        {% if places %}
            <div class="text-center">
                <br>
                <h2> Yours places </h2> 
                <br> 
            </div>
            <table class="table table-hover">
                <thead class="thead">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Trips</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for place in places %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{place.name}}</td>
                            <td>
                                {% if place.has_trip %}
                                    <i class="fas fa-check-circle"></i>
                                {% else %}
                                        <i class="fas fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <a href="{% url 'places:detail' place.id %}" class="btn btn-outline-primary" role="button"><i class="fas fa-map-marked-alt"></i></a>
                                <a href="{% url 'places:edit' place.id %}" class="btn btn-outline-secondary" role="button"><i class="fas fa-edit"></i></a>
                                <a href="{% url 'places:delete' place.id %}" class="btn btn-outline-danger" role="button"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'places:add' %}" class="btn btn-lg btn-block btn-outline-secondary" role="button"><i class="fas fa-plus"></i></a>
        {% else %}
            <div class="info">
                upps! 
                <br>
                It is incredible but you have no places in directory
                <br>
                You must change it!
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}