{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div  class="card w-50">
        <div  class="card-body">
            <h2 class="text-center">Reset password</h2>
            <form  method="post">
                {% csrf_token %}
                <input  type="hidden"  name="next"  value="{{ next }}">
                {{ form|crispy }}
                <input class="btn btn-lg btn-block btn-secondary" type="submit" value="Reset">
            </form>
        </div>
    </div>
{% endblock %}