{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div  class="card w-50">
    <div  class="card-body">
        <div class="text-center">
            <br>
            <h2> Delete trip</h2> 
            <br> 
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <p> Are you sure you want to delete "{{ trip.name }}"?</p>
                <input class="btn btn-lg btn-block btn-secondary" type="submit" value="Yes">
                <a href="{% url 'trips:list' %}"class="btn btn-lg btn-block btn-outline-secondary" role="button">Cancel</a>
            </form>
        </div>
    </div>
</div> 
{% endblock %}