{% extends "base.html" %}

{% block content %}
<div  class="card w-75">
    <div  class="card-body">
        <p class="back"><a href="{% url 'trips:list'%}">Back</a></p>
        <div class="text-center">
            <br>
            <h2>{{trip.name}}</h2> 
            <br> 
        </div>

        <table class="table">
                
                <tbody>
                        <tr>
                            <td class="symbol"><i class="far fa-file-alt"></i></td>
                            <td class="text-center">{{trip.description}}</td>
                        </tr>
                         <tr>
                            <td class="symbol"><i class="fas fa-hourglass-start"></i></td>
                            <td class="text-center">{{trip.start_date}}</td>
                        </tr>
                         <tr>
                            <td class="symbol"><i class="fas fa-hourglass-end"></i></td>
                            <td class="text-center">{{trip.end_date}}</td>
                        </tr>
                         <tr>
                            <td class="symbol"><i class="fas fa-map-signs"></i></td>
                            <td >
                                {% for place in trip.places.all %} 
                                    <div style="display: flex; justify-content: space-between; padding: 10px;">
                                        <div></div>
                                        <div style="">{{place.name}}</div>
                                        <span class="text-right"><a href="{% url 'places:detail' place.id %}"  role="button"><i class="fas fa-map-marked-alt"></i></a></span>      
                                    </div>
                                {% endfor %}
                            </td>
                        </tr>
                </tbody>
                </table>

    </div>
</div>
{% endblock %}
