body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 244, 219);
}

.container {
  padding: 50px;
}

.text-center {
  margin-bottom: 0px;
}

.float-right{
  padding-right: 32px;
}

.thead{
  background-color:  rgb(169, 187, 204);
}

.carousel-img {
    object-fit: cover;
    object-position: 0 65%;
    width: 100%;
    height: 500px;
}