body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 244, 219);
}

.container {
  padding: 50px;
}

.float-right {
  padding-right: 32px;
}

.thead {
  background-color: rgb(169, 187, 204);
}

.carousel-img {
  object-fit: cover;
  object-position: 0 65%;
  width: 100%;
  height: 500px;
}

.reset {
  a {
    color: rgb(169, 187, 204);
  }
}

.carousel-text {
  text-shadow: 0 0 10px black;
}
td.symbol {
  width: 40px;
}
.td-badge {
  display: flex;
  justify-content: space-between;
}
